{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Post
{% endblock title %}
{% block content %}
{% if post %}
        <table>
           <tr>
                <td><b>Заголовок</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Публикация</b></td>
            </tr>
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ date_created|date:'d M Y' }}</td>
                <td>{{ post.text|censor }}</td>
            </tr>
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}